html{
    --bkg-color: #cfcfcf;
    --bkg-main-container: #cccccc;
    --header-font-color: #3b7c94;
    --font-color: #1e2224;
    --self-card: rgba(36, 133, 123, .5);
    --other-messages: rgba(122, 71, 148, .5);
}

.dark-mode{
    --bkg-color: #36393f;
    --bkg-main-container: #2f3136;
}

body{
    background-color: var(--bkg-color);
}

p{
    font-size: 1.2em;
    color: var(--font-color);
}

.chat-container{
    width: 50vw;
    height: 80vh;
    margin: 0 50%;
    transform: translate(-50%, 0);
}

.user-name{ 
    width: 100%;
    height: 2vmin;
    text-align: center;
}

.msg-container{ 
    background-color: var(--bkg-main-container);
    width: 100%;
    height: 80vh;
    /* height: 60vmin; */
    padding: 1em;
    overflow-y: scroll;
}

.msg-card{
    width: 60%;
    padding: .1rem 1rem;
    margin-top: 1.5em;
    border-radius: 15px;
    position: relative;
    text-align: justify;
}

.bgc-me{
    background-color: var(--self-card);
    left: calc(40% - 2em);
}

.bgc-me sub{
    position: absolute;
    right: 10px;
}
.bgc-other{
    background-color: var(--other-messages);
}

.bgc-other sub{
    position: absolute;
    left: 10px;
}

.textbox-container {
   width: 100%;
   display: inline-flex;
   justify-content: center;
}
